
body {
    background-color: #EEEEEE; 
    font-size: 14pt;
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5pt;
}

div{

    text-indent: 45px;
    margin-top: 5px;
    padding-left: 5pt;
    padding-right: 5pt;
}

p{
    text-indent: 45px;
    margin-top: 5px;
    padding-left: 5pt;
    padding-right: 5pt;
}

input{
    display: inline-block;
}

label{
    clear: left;
    display: inline-block;
    float: left;
    width: 120px;   
}

